<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">EmithramInsurance</span> <span
            class="navbar-version">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div>
        <ul class="nav">
            <li class="nav-item">

                <h6 class="nav-link">
                    <span>
                        <fa-icon icon="phone"></fa-icon>
                    </span> &nbsp;+91 95441 49723(Ashish)</h6>
            </li>

            <li class="nav-item">

                <h6 class="nav-link"><span>
                        <fa-icon icon="phone"></fa-icon>
                    </span>&nbsp;+91 95443 00968(Manoj Abraham)</h6>
            </li>
        </ul>
    </div>

</nav>